body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

.account-info {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1000;
  background-size: cover;
  background-position: center;
}

.account-menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.overlay-message {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.account-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.account-menu a:hover {
  background-color: #f0f0f0;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.card {
  position: absolute;
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none; /* Prevent interaction when not active */
}

.card.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; /* Allow interaction when active */
  z-index: 1; /* Ensure active card is on top */
}

.card.exit-left, .card.exit-right {
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.card.exit-left {
  transform: translateX(-100vw);
  opacity: 0;
}

.card.exit-right {
  transform: translateX(100vw);
  opacity: 0;
}

.card.fade-out-left {
  transform: translateX(-100vw);
  opacity: 0;
}

.card.fade-out-right {
  transform: translateX(100vw);
  opacity: 0;
}